/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Set every element's box-sizing to border-box  */
* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/*
 Your code starts here! url("header-img.png")
url("mid-page-accent.jpg")
url("MyWatch.jpeg")
url("logo.png")
*/


* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(13deg, rgba(30, 130, 207, 1) 45%, rgba(119, 129, 155, 0.75) 0 100%),
     linear-gradient(2700deg, rgba(255, 255, 255, .6) 0 35%, rgba(85,185, 255, 1) 100%); 
}


.container .nav-bar {
    position: fixed;
    z-index: 5;;
}

.container {
    position: absolute;
    width: 100%;
    padding: 0 15%;
    margin: 0 auto;
}

.container nav {
    /* display:inline-block; */
    width: 70%;
    background:lightblue;

}

.container nav .nav-menu {
    width: 100%;
    height: 50px;


}

.container nav .nav-menu>li {
    display: inline-block;
    padding: 20px 30px;
}

.container nav .img-logo {
    position: absolute;
    right:0;
    top:0;
    width:200px;
    height:100px;
    background-repeat: no-repeat;
    background-image:url("../img/logo.png");
}

.container nav .img-logo:hover{
    position: absolute;
    right:0;
    top:0;
    width:200px;
    height:100px;
    background-repeat: no-repeat;
    background-image:url("../img/lit.png");
}

.main {
    width: 100%;
}

.main .main-wrapper {
    width: 100%;
    margin-top:10%;
    padding:30px;
    margin-left:50px;
}

.main .large-text-wrapper {
    width: 30%;
    display: inline-block;
    text-align: center;
    margin-right:150px;


}

.main .larg-text {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    font-size: 70px;
}

.main .btn-wrapper {
    margin: 50px;
    width: 125px;
}

.main .get-started {
    width: 125px;
    height: 50px;
}

.img-wrapper {
    width: 400px;
    display: inline-block;
    height:400px;
    background-position: center;
    background-image:url("../img/header-img.png");
    background-color:transparent;
    opacity:.55;
 background-repeat: no-repeat;
 transition: opacity 2s;
}
.img-wrapper:hover{
    opacity: 1;
    transition: opacity 2s;
    animation-delay:.5s;
    animation-name:twist;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}


.content .content-level1 {
    display: inline-block;

}

.content .content-level1 .first {
    display: inline-block;
    width: 45%;
    margin: 25px 5px;
    content: normal;
}

.content .content-level1 .second {
    display: inline-block;
    width: 45%;
    margin: 25px 5px;
}

.content .content-level2 {
    width: 100%;
}

.content .content-level2 .first {
    display: inline-block;
    width: 30%;
    margin: 25px 5px;
}

.content .content-level2 .second {
    display: inline-block;
    width: 30%;
    margin: 25px 5px;
}

.content .content-level2 .third {
    display: inline-block;
    width: 30%;
    margin: 25px 5px;
}


@keyframes twist{

    50%{
    
        transform: scale(1.1);
    }

    100%{
       
        transform:scale(1);
    }
}

.dd-items{
    transition:transform;
    transition-delay: .15s;

}

.dd-items:hover{
    transform:scale(1.2);
    background:rgba(255,255,0,.5);
}